<div style="margin: 10px; padding: 10px; border: 3px solid green;">
  <h1><%= @song.name %></h1>
  <p>Artist: <%= link_to Artist.find(@song.artist_id).name, artist_path(Artist.find(@song.artist_id)) %></p>
  <p>Genre: <%= link_to Genre.find(@song.genre_id).name, genre_path(Genre.find(@song.genre_id)) %></p>
</div>